.home{


    .welcome{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: rgb(174, 240, 113);
    }

    .content{
        width: 90%;
        justify-content: center;
        margin: 10px 5%;

        h3{
            justify-content: center;
            
        }

    }
}