.loadmore{
    cursor: pointer;
    background-color: white;
    border:none;
    box-shadow: -1px -1px 14px 1px #4D4D4D;
    padding:7px 25px;
    font: size 13px;
    margin-top: -20px;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
    justify-content:center;
    
    
}

.btnarea{
    display: flex;
    justify-content: center;
}